<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./vendor/autoload.php"
  colors="true">
  <testsuites>
    <testsuite name="resources">
      <directory>./tests/Resource</directory>
    </testsuite>
    <testsuite name="resource-apitoken">
      <directory>./tests/Resource/ApiToken</directory>
    </testsuite>
    <testsuite name="resource-app">
      <directory>./tests/Resource/App</directory>
    </testsuite>
    <testsuite name="resource-cloud">
      <directory>./tests/Resource/Cloud</directory>
    </testsuite>
    <testsuite name="resource-cloudaccount">
      <directory>./tests/Resource/CloudAccount</directory>
    </testsuite>
    <testsuite name="resource-cloudserver">
      <directory>./tests/Resource/CloudServer</directory>
    </testsuite>
    <testsuite name="resource-invoice">
      <directory>./tests/Resource/Invoice</directory>
    </testsuite>
    <testsuite name="resource-order">
      <directory>./tests/Resource/Order</directory>
    </testsuite>
    <testsuite name="resource-package">
      <directory>./tests/Resource/Package</directory>
    </testsuite>
    <testsuite name="resource-virtguestcloud">
      <directory>./tests/Resource/VirtGuestCloud</directory>
    </testsuite>
    <testsuite name="sandbox">
      <directory>./tests/Sandbox</directory>
    </testsuite>
    <testsuite name="sdk">
      <file>./tests/ClientTest.php</file>
    </testsuite>
    <testsuite name="util">
      <directory>./tests/Util</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>
