<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="./vendor/autoload.php"
  colors="true">
  <testsuites>
    <testsuite name="resources">
      <directory>./src/Resource/Tests</directory>
    </testsuite>
    <testsuite name="sandbox">
      <directory>./src/Sandbox/Tests</directory>
    </testsuite>
    <testsuite name="sdk">
      <directory>./src/Tests</directory>
    </testsuite>
    <testsuite name="util">
      <directory>./src/Util/Tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
</phpunit>
